@tailwind base;
@tailwind components;
@tailwind utilities;

.debug {
  border: 1px dashed red;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: 100%;
}

.hp-doctor-img {
  aspect-ratio: 14/16;
  object-fit: cover;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bg_image-1 {
  background-size: cover;
  background-image: url('../src/assets/img/hero-img-1.jpg');
  background-position: top;
  background-repeat: no-repeat;
}

.bg_image-2 {
  background-size: cover;
  background-image: url('../src/assets/img/hero-img-2.jpg');
  background-position: top;
  background-repeat: no-repeat;
}